html {
  font-size: 14px;
}

.nav-link:hover {
text-decoration: underline rgb(185, 185, 185);
} 

.startpage {
  padding: 4% 0;
  border: rgb(185, 185, 185) 1px solid;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn:hover {
  text-decoration: underline;
}